.container
  - if mobile?
    %div{style: "border: 1px solid rgb(221, 221, 221); height:80px"}
      = image_tag("swf/1.gif", alt: "")
    %div{style: "border: 1px solid rgb(221, 221, 221); height:80px"}
      = image_tag("swf/2.gif", alt: "")
    %div{style: "border: 1px solid rgb(221, 221, 221); height:80px"}
      = image_tag("swf/3.gif", alt: "")
  - else
    %div{style: "border: 1px solid rgb(221, 221, 221); height:80px"}
      %embed{height: "80px;",  src:"#{asset_path 'swf/1.swf'}", width: "1170px;",wmode:"opaque"}
    %div{style: "border: 1px solid rgb(221, 221, 221); height:80px"}
      %embed{height: "80px;", src:"#{asset_path 'swf/2.swf'}", width: "1170px;",wmode:"opaque"}
    %div{style: "border: 1px solid rgb(221, 221, 221); height:80px"}  
      %embed{height: "80px;", src:"#{asset_path 'swf/3.swf'}", width: "1170px;",wmode:"opaque"}